<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>

    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
    <script src={{ STATIC_URL }}js/csrftoken.js></script>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/css/ui-dialog.css" rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/dist/dialog-min.js"></script>
</head>

<body class="bg-bright3" data-bg-color="bg-bright3">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <nav class="">
                <div style="overflow:hidden; z-index: inherit;" class="navbar king-horizontal-nav1 f16">
                    <div class="navbar-container">
                        <div class="navbar-header pull-left">
                            <a class="navbar-brand" href="javascript:;">
                                <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" class="logo"> </a>
                        </div>
                        <ul class="nav navbar-nav pull-left m0">
                            <li class="active"><a href="{{ SITE_URL }}tasks">执行任务</a></li>
                            <li><a href="{{ SITE_URL }}record">任务记录</a></li>
                            <li><a href="{{ SITE_URL }}statistics">运营统计</a></li>
                        </ul>
                        <div class="navbar-header pull-right">
                            <ul class="nav">
                                <li class="user-info">
                                    <a href="javascript:;">
                                        <span>admin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <form class="form-vertical p15 m5 fl" style="width: 20%;">
                <div class="form-group ">
                    <label>选择业务：</label>
                    <select class="form-control ele" id="biz_id">
                        {% for biz_name, biz_id in info %}
                            <option value={{ biz_id }} class="info">{{ biz_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <form class="form-vertical p15 m5 fl" style="width: 20%;">
                <div class="form-group ">
                    <label>选择脚本：</label>
                    <select class="form-control ele1" id="script_id">
                        {% for task in tasks %}
                            <option value={{ task.id }}>{{ task.scriptname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <form class="panel">
                <div class="panel-content">
                    <table class="table table-header-bg table-hover mb0" id="table_demo2">
                        <thead>
                            <tr>
                                <th style="width: 25px">
                                    <input class="hostidall" id="checkall" type="checkbox" name="checkall" value="">
                                </th>
                                <th style="width:100px">ID</th>
                                <th style="width:25%">IP</th>
                                <th style="width:25%">主机名</th>
                                <th style="width:25%">操作系统</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody class="host" id="td">
                            {% for host in data %}
                                <tr>
                                    <td>
                                        <input class="hostid" name="checked" type="checkbox" value="{{ host.ip }}">
                                    </td>
                                    <td>{{ host.host_id }}</td>
                                    <td class="ip" name="hostip" value="{{ host.ip }}">{{ host.ip }}</td>
                                    <td>{{ host.name }}</td>
                                    <td>{{ host.os }}</td>
                                    <td>
                                        <button class="btn btn-xs btn-danger" title="删除">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
            <form method="post" class="form-vertical p15 " style="width: 30%;">
                {% csrf_token %}
                <div class="form-group">
                    <button type="button" class="king-btn mr10 king-success" id="submit">执行</button>
                </div>
            </form>
        </div>
    </div>
<script>
    ids=[];
    ips=[];
    $(".ele").change(function() {
        ids=[];
        ips=[];
        $.ajax({
            url: '{{ SITE_URL }}api/get_host/',
            type: 'POST',
            data:{
                'biz_id': $('.ele').val(),
                "script_id":$('.ele1').val(),
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function(response) {
                $('#td').empty();
                if(response.data.length > 0){
                    $.each(response.data,function (data,ele) {
                        $('#td').append("<tr>\n" +
                        "<td>\n" +
                        "<input class=\"hostid\" name=\"checked\" type=\"checkbox\" value=" + ele.ip + ">\n" +
                        "</td>\n" +
                        "<td>" + ele.host_id + "</td>\n" +
                        "<td class=\"ip\" name=\"hostip\" value=" + ele.ip + ">" + ele.ip + "</td>\n" +
                        "<td>" + ele.name + "</td>\n" +
                        "<td>" + ele.os + "</td>\n" +
                        "<td>\n" +
                        "<button class=\"btn btn-xs btn-danger\" title=\"删除\">\n" +
                        "<i class=\"glyphicon glyphicon-remove\"></i>\n" +
                        "</button>\n" +
                        "</td>\n" +
                        "</tr>")
                    })
                }else {
                   alert('该业务没有机器')
                }
            }
        })
    });

    $(document).on('change','input.hostid',function (event) {
        $('input:checkbox:checked').each(function() {});
        ips.push($(this).val());
        console.log(ips);
        {#$('td.ip').each(function() {});#}
        {#console.log($(this).val());#}
        {#ips.push($(this).val());#}
        {#console.log(ips)#}
    });

    {#$("input.hostidall").change(function() {#}
    {#    if (this.checked) {#}
    {#        $("input:checkbox:checked").each(function() {#}
    {#                    console.log($(this).val());#}
    {#                    ids.push($(this).val());#}
    {#                    console.log(ids);#}
    {#                })#}
    {#        } else {#}
    {#        $("input:checkbox:checked").each(function() {#}
    {#                    ids.push($(this).val());#}
    {#                    console.log(ids);#}
    {#                })#}
    {#    }#}
    {# })#}

    $('.king-success').click(function () {
        $.ajax({
            url: '{{ SITE_URL }}api/execute/',
            type: 'POST',
            data:{
                "biz_id":$('.ele').val(),
                "script_id":$('.ele1').val(),
                "ip_id":ips,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function (response) {
                console.log(response["result","message","data"])
            }
        })
    });
    // 成功提示
    $("#submit").click(function() {
        var d = dialog({
            width: 260,
            title: '提示',
            okValue: '查看任务结果',
            content: '<div class="king-notice-box king-notice-success"><p class="king-notice-text">任务提交成功！</p></div>',
            cancelValue: '继续执行任务',
            ok: function() {
               alert('正在执行中')
            },
            cancel: function() {
                // do something
            }
        });
        d.show();
    });
</script>
<script type="text/javascript">
    $('#table_demo2').find('input[name="checkall"]').click(function(){
            var checked = $(this).prop('checked');
            $('#table_demo2>tbody input').prop('checked', checked);
        });
        $('#table_demo2').find(':checkbox').on('click', function(){
            if(!this.checked){
                $('#table_demo2').find('input[name="checkall"]').prop('checked',false);
            }
        });
        $('#table_demo2').find('.glyphicon-remove').parent('button').click(function(){
            if(confirm('确定要删除？')){
                $(this).closest('tr').remove();
            }
        });
        $('#deleteAll').click(function(event) {
            var records = $('#table_demo2>tbody input:checked').closest('tr');
            if (!records.length){
                alert('请选择要删除的记录！');
                return false;
            }
            if(confirm('确定要删除？')){
                records.remove();
            }
        });
</script>
</body>
</html>